services:
  web:
    build:
      context: .
      dockerfile: dockerfile
    ports:
      - "8080:80"
    volumes:
      - ./app/public:/var/www/html
      - ./app/config:/var/www/config
    depends_on:
      - db
