services:
  db:
    image: mariadb:10.4
    environment:
      MARIADB_DATABASE: Cars_database
      MARIADB_USER: cars_user
      MARIADB_PASSWORD: cars_pass
      MARIADB_ROOT_PASSWORD: root_pass
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "3306:3306"

  web:
    build: .
    ports:
      - "8080:80"
    volumes:
      - ./app:/var/www/html
    depends_on:
      - db
